@font-face {
    font-family: "Roboto";
    src: url(assets/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

:root {
    --background-color: rgba(12, 12, 12, 1);
    --main-color: white;
    --border-line-color: rgb(223, 223, 223, 0.10);
    --bg-color-inside: rgba(30, 30, 30, 0.5);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: var(--background-color);
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
}

/* MARK SELECTION SECTION */

.xo {
    margin: 70px auto;
    width: 100px;
    text-align: center;
}
.xo > img:first-child {
    position: relative;
    top: 3px;
}

.choose {
    border: 1px solid var(--border-line-color);
    background-color: var(--bg-color-inside);
    width: 500px;
    height: 200px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 1px 2px 5px rgba(105, 105, 105, 0.20);
}
.choose > p:first-child {
    text-align: center;
    line-height: 1.5;
    margin-top: 25px;
}

.slider label[for*="option-x"] {
    position: relative;
    top: 3px;
}
.slider label[for*="option-o"] {
    position: relative;
    top: 2px;
}

.slider-toggle {
    position: relative;
    width: 260px;
    height: 80px;
    margin: 15px auto;
    border: 1px solid var(--border-line-color);
    border-radius: 10px;
    background-color: rgba(30, 300, 04, 0.10);
    overflow: hidden;
}

.slider-toggle input {
    display: none;
}
.slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.slider label {
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 50%;
    text-align: center;
}

.slider .button {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#option-x:checked ~ .slider .button {
    transform: translateX(0);
}
#option-o:checked ~ .slider .button {
    transform: translateX(100%);
}

.choose p:last-child {
    position: relative;
    top: 2%;
    left: 35%;
    opacity: 50%;
    width: max-content;
    font-weight: 100;
    font-size: .88rem;
}

.start-game {
    width: 210px;
    height: 50px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.start-game button {
    width: 200px;
    height: 40px;
    border: 1px solid var(--border-line-color);
    background-color: var(--bg-color-inside);
    color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    transition: all 0.15s ease;
    box-shadow: 1px 2px 5px rgba(105, 105, 105, 0.20);
}

.start-game button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(12, 12, 12, 1);
}

body {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.gb-body {
    opacity: 0;
}

body.fade-out {
    opacity: 0;
}


/* GAMEBOARD SECTION */

.top-bar {
    /* border: 1px solid var(--border-line-color); */
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.xo-icons {
    width: 100px;
    text-align: center;
    display: flex;
    position: relative;
    right: 2%;
}

.xo-icons > img:first-child {
    position: relative;
    bottom: 3px;
}

.top-bar > button {
    border: 1px solid var(--border-line-color);
    background-color: var(--bg-color-inside);
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    left: 3%;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.top-bar > button:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(0, 0, 0, 0.75);
}

.turn {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-line-color);
    text-align: center;
    background-color: var(--bg-color-inside);
    padding: 8px;
}

.ttt {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, calc(133px - 20px));
    grid-template-rows: repeat(3, calc(133px - 20px));
    gap: 10px;
    justify-content: center;
    padding: 20px 10px 10px 5px;
    border-radius: 10px;
}

.ttt div {
    border: 1px solid var(--border-line-color);
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgb(255, 217, 255, 0.1);
}

.stats {
    margin: 0 auto;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3, calc(153px - 20px));
    grid-template-rows: calc(88px - 10px);
    justify-content: center;
    gap: 15px;
    text-align: center;
    align-items: center;
}

.stats div {
    border: 1px solid var(--border-line-color);
    height: 70px;
    padding: 10px 10px 5px;
    border-radius: 10px;
}
.stats div:first-child {
    background-color: rgba(105, 105, 105, 0.20);
    color: white;
}
.stats div:nth-child(2) {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.stats div:last-child {
    background-color: rgba(105, 105, 105, 0.20);
    color: rgb(255, 217, 0);
}

.user-text, .cpu-text, .ties-text {
    font-size: .8rem;
}

.user-score, .cpu-score, .ties-score {
    font-size: 2rem;
}

.ttt div {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ttt div:disabled {
    background-color: var(--background-color);
    cursor: not-allowed;
}
.ttt div:focus {
    outline: none;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-inside);
    border-radius: 10px;
    box-shadow: 0 5px 7px var(--border-line-color);
    padding: 20px;
    z-index: 1000;
    border: 1px solid var(--border-line-color);
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal.show {
    display: block;
    width: 400px;
    height: 200px;
}

.modal-content {
    text-align: center;
}

.modal-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    border: 1px solid var(--border-line-color);
    border-radius: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    margin-right: 30px;
    margin-left: 30px;
}

.modal-content .restart-btn {
    background-color: var(--bg-color-inside);
    color: white;
}
.modal-content .quit-btn {
    background-color: var(--bg-color-inside);
    color: white;
}

.modal-content .quit-btn:hover, .modal-content .restart-btn:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.75);
}

.ttt .cell:hover {
    background-color: var(--bg-color-inside);
}
